version: "2"

services:
  network-engine:
    image: gitlab.onlineterroir.com:5001/pitzzae/network-engine
#    image: network-engine
    container_name: network-engine
    restart: always
    privileged: true
    ports: 
      - "80:8080"
    network_mode: "bridge"