/*html, body{*/
    /*height:100vh;*/
    /*width:100vw;*/
/*}*/
label {
    font: 12px sans-serif;
}
.node circle {
    fill: #fff;
    stroke-width: 1.5px;
}
.node {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: tan;
}
